<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Rest-API-Testing" verbose="1">
    <test name="Regression-Suite">
        <classes>
      		<class name="com.rest.api.PlaceOrderApi"/>
      		<class name="com.rest.api.FetchOrderApi"/>
      		<class name="com.rest.api.CancelOrderPutApi"/>
      		<class name="com.rest.api.CompleteOrderPutApi"/>
      		<class name="com.rest.api.TakeOrderPutApi"/>
    	</classes>
    </test>
</suite>